* {
    font-family: 'IRANSansWeb', 'Tahoma', serif;
}

body {

}

a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
}

a.navbar-brand {
    font-size: 22.5pt;
}

audio {
    height: 30px;
    width: 100%;
}

audio::-webkit-media-controls-panel {
    background-color: lightgray;
    padding: 0;
}

audio::-webkit-media-controls-toggle-closed-captions-button {

}

hr {
    border: none;
    border-bottom: 1px dashed #d3d3d3;
}

i.far::before,
i.fas::before,
i.fal::before {
    padding-left: 5px;
    padding-right: 5px;
}

.in-the-name-of-allah {
    font-family: Shabnam, IRANSansWeb, Tahoma, sans-serif;
}

.alert {
}

.alert,
.card {
    border-radius: 20px !important;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, .06);
}

.card {
    margin-bottom: 30px;
}

.card .card-header {
    border: none !important;
    border-radius: 20px 20px 0 0 !important;
    font-size: 10pt;
    font-weight: 400;
}

.card .card-footer {
    background-color: white;
    border-top-style: dashed;
    font-size: 80%;
    font-weight: 400;
}
