* {
    font-family: 'IRANSansWeb', 'Tahoma', serif;
}

body {

}

a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
}

audio {
    height: 30px;
    width: 100%;
}

audio::-webkit-media-controls-panel {
    background-color: lightgray;
    padding: 0;
}

audio::-webkit-media-controls-toggle-closed-captions-button {

}

hr {
    border: none;
    border-bottom: 1px dashed #d3d3d3;
}

.card {
    border: #f8fafc solid 1px;
    border-radius: 0;
    font-size: 10pt;
    margin-bottom: 30px;
}

.card .card-header {
    border-bottom-style: dashed;
}

i.far::before,
i.fas::before,
i.fal::before
{
    padding-left: 5px;
    padding-right: 5px;
}

.in-the-name-of-allah
{
    font-family: Shabnam, IRANSansWeb, Tahoma, sans-serif;
}

.card
{

}

.card .card-body
{
    line-height: 200%;
}

.card .card-footer
{

}

.card .card-header
{

}

a.navbar-brand
{
    font-size: 24pt;
}
