{
    "folder": {
        "description": {
            "نام پوشه 1": "توضیحات",
            "نام پوشه 2": "base64:2KrZiNi224zYrdin2Ko="
        },
        "order": [
            "نام پوشه 1",
            "نام پوشه 2",
            "نام پوشه 3"
        ]
    },
    "file": {
        "description": {
            "نام پرونده 1": "base64:2KrZiNi224zYrdin2Ko=",
        },
        "order": [
            "نام پرونده 1",
            "نام پرونده 2",
            "نام پرونده 3"
        ]
    }
}